@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Newsreader', serif;
    font-size: 20px;
  }
  .main_Hospitales {
    text-align: center;
    margin-top: 100px;
  }
  
  .Tabla_Hospitales {
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  
    h2 {
      text-align: left;
      padding-left: 20px;
      margin-top: 75px;
    }
  
    tr,
    td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
  }
  @media (max-width: 420px) {
    .Tabla_Hospitales {
        font-size: small;
      }
  }